* {
    margin: 0;
    font-family: "Platypi";
    max-width: 100%;
    /* border: 2zzzz solid red; */
}

body {
    background-color: #E8F4FC;
}

a {
    text-decoration: none;
}

.judul {
    display: inline-block;
    background-color: #B4D3E6;
    color: #1a4d8f;
    padding: 15px 35px;
    border-radius: 12px;
    margin: 5% 0 40px 5%;
}

#booklist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 90%;
    margin: auto;
    padding-bottom: 80px;
}

.book {
    width: 100%;
    max-width: 360px;
    justify-self: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.20);
    transition: transform .25s ease, box-shadow .25s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.book:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.18);
}

#booklist img {
    width: 330px;
    height: 450px;
    padding: 5% 5% 0;
}

.book p {
    text-align: center;
    justify-self: center;
}

#penulis {
    font-size: 70%;
    max-width: 94%;
    height: 40px;
    max-height: 38px;
    color: #818181;
    align-self: center;
    display: flex;
    align-items: flex-end;
}

#judul {
    margin-bottom: 15%;
    font-weight: 600;
    color: #000000;
    font-size: 120%;
}

#viewall {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-align: right;
    margin-right: 5%;
    margin-bottom: 2%;
}

hr {
    border: 2px solid #4885B3;
    width: 95%;
    justify-self: center;
}

#category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 98%;
    justify-self: center;
    margin-top: 100px;
    margin-bottom: -70px;
}

#cat p{
    font-size: 50px;
    justify-content: center;
    color: rgba(255, 255, 255);
    text-align: center;
    word-wrap: break-word;
    align-content: center;
    width: 375px;
    height: 375px;
    margin-bottom: 100px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

.math {
    background-image: url(../../wallpaper/Category\ -\ Math.png);
}

.english {
    background-image: url(../../wallpaper/Category\ -\ English.png);
}
.science {
    background-image: url(../../wallpaper/Category\ -\ Science.png);
}
.history {
    background-image: url(../../wallpaper/Category\ -\ History.png);
}
.indonesian {
    background-image: url(../../wallpaper/Category\ -\ Indonesian.png);
}
.arts {
    background-image: url(../../wallpaper/Category\ -\ Arts.png);
}

#cat p:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.745);
    transition: 0.3s;
}