body {
    font-family: "Georgia", serif;
    background: #e8dcdc;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.open-btn {
    padding: 12px 22px;
    font-size: 18px;
    cursor: pointer;
}

/* POPUP */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: #e6f0f7;
    width: 70%;
    max-width: 800px;
    padding: 25px 35px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.close-btn {
    position: absolute;
    top: 18px;
    right: 22px;
    font-size: 26px;
    cursor: pointer;
}

.form-row {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.form-row input,
.form-row select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.upload-box {
    border: 2px dashed #bbb;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.note {
    font-size: 14px;
    margin-top: 10px;
    max-width: 400px;
}

